<div>
  <div class="row">
    <div class="col-sm">
      <h1>Consultas</h1>
    </div>
    <div class="col-sm text-right mt-2">
      <%= link_to 'Novo Agendamento', new_appointment_path, class: "btn btn-success text-white" %>
    </div>  
  </div>
</div>

<div>
  <div class="row">
    <div class="col-sm text-right font-weight-light">
     
    </div>
  </div>
</div>

<%= render 'form', doctor_data: @doctor_data %>

<%= %>

<table class="table table-hover table-default mt-3">
  <thead>
    <tr>
      <th>Medico</th>
      <th>Total de consultas</th>
      <th>Total de pacientes</th>
    </tr>
  </thead>

  <tbody>
    <% @doctor_data[:data].each do |doctor| %>
      <tr>
        <td><%= doctor[:name] %></td>
        <td><%= doctor[:total_appointment] %></td>
        <td><%= doctor[:total_patient] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
