<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
        <% patient.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "Nome" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :birth_date, "Data de aniversário " %>
    <%= form.text_field :birth_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :cpf, "Cpf" %>
    <%= form.text_field :cpf, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Cadastrar", class: "btn btn-success text-white" %>
    <%= link_to patients_path, class: "btn btn-secondary text-white" do %>
      <i class="fas fa-edit"></i> Editar
    <% end %>
    <%= link_to @patient, class: "btn btn-secondary text-white" do %>
      <i class="fas fa-eye"></i> Exibir
    <% end %>
  </div>
<% end %>
