<p id="notice"><%= notice %></p>

<div>
  <div class="row">
    <div class="col-sm">
      <h1>Médicos</h1>
    </div>
    <div class="col-sm text-right mt-2">
      <%= link_to 'Cadastrar novo Médico', new_doctor_path, class: "btn btn-success text-white" %>
    </div>  
  </div>
</div>

<div>
  <div class="row">
    <div class="col-sm text-right font-weight-light">
      Total de registros: <strong><%= @doctors.count %></strong>
    </div>
  </div>
</div>

<table class="table table-hover table-default">
  <thead>
    <tr>
      <th>Name</th>
      <th>Crm</th>
      <th>Crm uf</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= doctor.name %></td>
        <td><%= doctor.crm %></td>
        <td><%= doctor.crm_uf %></td>
        <td width=10>
          <%= link_to edit_doctor_path(doctor) do %>
            <i class="fas fa-edit"></i>
          <% end %>  
        </td>
        <td width=10>
          <%= link_to doctor, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="far fa-trash-alt"></i>
          <% end %>  
          </td>
      </tr>
    <% end %>
  </tbody>
</table>
