<%= form_with(url: "/appointments/new", local: true) do |form| %>
  <div>
    <div class="row">
      <div class="col-4 m-1">
        <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
          <%= form.label "Data da consulta" %>
          <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
            <%= form.text_field "date", value: appointments[:date_filter].to_datetime.strftime("%d/%m/%Y"), class: "form-control datetimepicker-input", 'data-target': "#datetimepicker2" %>
            <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>  
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col mt-1 mr-1">
        <%= form.label "" %>
        <%= form.submit "Buscar data", class: "btn btn-success" %>
      </div>
    </div>
  </div>
<% end %>
